---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 800px;
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				background: #fff;
				border-radius: 16px;
				box-shadow: var(--box-shadow);
				overflow: hidden;
				transition: 0.2s ease;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				display: block;
				width: 100%;
			}
			ul li a {
				display: block;
				padding: 1.5rem;
			}
			.title {
				margin: 0 0 0.5rem 0;
				color: rgb(var(--black));
				line-height: 1.3;
			}
			.description {
				margin: 0 0 0.75rem 0;
				color: rgb(var(--gray-dark));
				font-size: 0.9rem;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
				font-size: 0.85rem;
			}
			ul li a:hover .title {
				color: rgb(var(--accent));
			}
			ul li:hover {
				box-shadow:
					0 4px 10px rgba(var(--black), 8%),
					0 12px 28px rgba(var(--black), 10%);
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									{post.data.heroImage && (
										<Image width={800} height={400} src={post.data.heroImage} alt="" />
									)}
									<h4 class="title">{post.data.title}</h4>
									<p class="description">{post.data.description}</p>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
